/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-color: white;
}

.center{
 text-align:end;
 


} 

.u-layout{
  border-radius: 30% 30% 0 0;
}
.u-layout img {
  border-radius: 30% 30% 0 0;
}

 .box{
  background-color:darkcyan;
  display:inline-block;
  width: 20%;
  height:90%;
  border-color: black;


  
} 
 .box{
  display:inline-block;
  border-width: 20%;
  height:90%;
  border-color: black;
} 

/* .page{
  display: flex;
  text-align: left;
} */

.form-page{
  border-radius: 30% 30% 0 0;
  text-align: right;
  border-color: black;
}

.page, .p, .h1{
  text-align: end;
 
}

.form,.h1,.p{
  text-align: center;
  border-radius: 30% 30% 0 0;
  content: none;
}