/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-color: rgba(45, 139, 45, 1); 
}

.center{
 /* padding: 0 15px; */
 /* display: flex; */
 /* flex-wrap: wrap; */
/* align-items: center; */ 
  /* justify-content: space-around; */ 
  /* gap: 5rem; */
 
}

.u-layout{
  width: 100px;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle; 
}
.u-layout img {
  border-radius: 30% 30% 0 0;
  width: 630px;
  height: 690px;

}

 .firstPage{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 40rem;
    font-size: 30px;
     
} 

.section{
  background-color: rgba(159, 221, 230, 1); 
   padding: 0 15px;
    display: flex;
    flex-wrap: wrap;

  
    /* align-items: center;
    justify-content: center;  */
}

.Page{
  flex: auto;
   padding: 0 100px;
   gap: 50rem;
    display: flex;
   text-align: end;
    flex-wrap: wrap; 
   
    /* align-items: end;
    justify-content: end;  */ 
}

.btnn{
  font-size: 15px;
  background-color: yellow; 
}
.btn{
  font-size: 15px;
}
 .intro{
   flex: 5;
    color: white;
   
 }

.flex-container{
   width: 300px;
  height: auto; 
  display: flex;
 flex-direction: row; 
 /* box-sizing: border-box; */

} 


  /* .boxx{
  display: flex; */
  /* justify-content: center;
  align-items: center;
min-height: 400px; 

 }  */ 

  .flex-box1{
   height: 200px;
    width: 200px;
    background-color: rgb(172, 238, 207);
    margin: 60px;
    /* text-align: center;  */
    border-radius: 20px;
    font-size: 15px;
    padding: 70px;
 }  
 .flex-box{
    height: 200px;
      width: 200px;
      background-color: rgb(242, 252, 247);
      margin: 60px;
      /* text-align: center;  */
      border-radius: 20px;
      font-size: 15px;
      padding: 60px;
 }


/* .page{
  display: flex;
  text-align: left;
} */

.form-page{
  background-color: whitesmoke;
}
.page1{
  width: 300px;
  margin: 0 150px;
  color: white;
 
}
.form{
   text-align: center;
  border-radius: 30% 30% 0 0; 
  content: none;
  width: 300px;
  height: 690px;
  /* gap: 90rem; */ 

 
}

.form-page{
   border-radius: 20% 20% 0 0; 
   width: 650px; 
   /* height: 690px;  */ 
    width: 300px; 
   height: 500px;
  max-width: 600px; 
   object-fit: cover; 
  vertical-align: right;
padding: 60px; 
  margin: 0 800px;  
  font-size: 15px;

 
}